@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 2px;
}

.text p {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link img {
  width: 28px;
  height: 28px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
  .linksContainer {
    display: flex;
    justify-content: center;
    padding: 10%;
    width: 100%;
  }

  /* Smaller text sizes for mobile */
  .text h2 {
    font-size: 48px;
    letter-spacing: 1.5px;
  }
  .text p {
    font-size: 22px;
    letter-spacing: 1px;
  }
  .link a {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
